<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="myconn" connectionString="Data Source=SZN;Initial Catalog=LibararySystem;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="project_clz.Properties.Settings.LibararySystemConnectionString"
   connectionString="Data Source=szn;Initial Catalog=LibararySystem;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>